.about-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-image {
    flex: 1;
    max-width: 350px;
}

.profile-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.project-image {
    flex: 1;
    max-width: 850px;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.about {
    flex: 2;
}

.notes {
    flex: 1;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #333;
    font-size: 0.95em;
}

.notes h3 {
    margin-bottom: 8px;
}

.notes ul {
    list-style-type: none;
    padding-left: 0;
}

.notes li {
    margin-bottom: 5px;
}
